<!doctype>
<html>
<head>
<style>
html, body {
  margin: 0;
  padding: 0;
}
body {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  background: #FEFEFE;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}
ul {
  margin: 0;
  padding: 0;
}
</style>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

  <h2>Klaxon</h2>

  Name: <%= @page.name %>


  <%= link_to "Edit In App", edit_page_url(@page), target: '_blank' %>

  <p id="path-preview">Waiting for events...</p>

  <script>

  window.pageID = <%= @page.id %>;

  var mouseState = 'hover';
  var toggleMouseState = function() {
    if (mouseState === 'hover') {
      mouseState = 'edit';
    } else {
      mouseState = 'hover';
    }

  }

  var handleClick = function() {
    toggleMouseState();
    console.log('mouseState', mouseState)
  }

  var handleUpdatePath = function(path) {
    if (mouseState !== 'hover') {
      return true;
    }
    var lis = path.map(function(li) { return "<li>"+li+"</li>" });
    document.querySelector('#path-preview').innerHTML = "<ul>"+lis.join("\n")+"</ul>";
  }

  window.addEventListener("message", function(e) {
    var origin = e.origin;
    var data = JSON.parse(e.data);

    if (data.event === 'metadata') {

    } else if (data.event === 'click') {
      handleClick();
    } else if (data.event === 'updatePath') {
      handleUpdatePath(data.value);
    }
  }, false);

  $('body').on('click', 'li', function() {
    var $li = $(this);
    var selector = $li.text();
    console.log($li, selector)
    $.post("<%= embed_update_page_selector_url %>", {
      authenticity_token: "<%= form_authenticity_token %>",
      id: window.pageID,
      css_selector: selector
    }).done(function(data) {
      console.log(data, data.id);
      window.pageID = data.id;
    });
  });

  </script>

</body>
</html>
