<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Editing User</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">All users can create, edit and delete items in Klaxon.</p>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <% if @current_user.is_admin %>
          <%= link_to 'Delete? It’s Permanent.', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-lg btn-block" %>
        <% end %>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<%= render 'form' %>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2"><%= @user.first_name %>'s Subscriptions</th>
      </tr>
    </thead>
    <tbody>
      <% @user.watching.each do |watch_item| %>
        <tr>
          <td><%= watch_item.name %></td>
          <td class="text-right">
            <%= link_to "Edit", [:edit, watch_item], class: "btn btn-default" %>
            <% if current_user.id == @user.id || current_user.is_admin %>
              <%= link_to "Unsubscribe", user_page_unsubscribe_path(@user, watch_item), method: :delete, class: "btn btn-default" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

