<%= render partial: 'layouts/nav' %>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Users</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">All users can create, edit and delete items in Klaxon.</p>
      </div>
      <div class="col-md-3">
        <!-- negative space -->
      </div>
      <div class="col-md-3">
        <%= link_to 'Create a New User', new_user_path, class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "Edit", edit_user_path(user), class: "btn btn-default btn-block" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>