<%= simple_form_for(@page) do |f| %>
<%= f.error_notification %>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row klax-spacer-md">
      <div class="col-md-12">
        <h4>Details</h4>
      </div>
    </div>
    <div class="row">
        <div class="form-group form-group-lg">
          <label class="col-sm-1">Title</label>
          <div class="col-sm-11">
            <%= f.input :name, label: false, class: 'form-control', as: :string %>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <label class="col-sm-1">Site</label>
          <div class="col-sm-11">
            <%= f.input :url, label: false, class: 'form-control', as: :string %>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <label class="col-sm-1">Selector</label>
          <div class="col-sm-11">
            <%= f.input :css_selector, label: false, class: 'form-control', as: :string %>
          </div>
        </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row klax-spacer-md">
      <div class="col-md-12">
        <h4>Notifications</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 klax-spacer-md">
        <h5>Email Subscriptions</h5>
        <p>Which users added to Klaxon should get an email when this item changes?</p>

        <% @users.each do |user| %>
          <div class="checkbox">
            <label>
              <%= check_box_tag "page[subscriptions][]", "user:#{user.id}", user.is_subscribed_to?(@page) %>
              <%= user.display_name %>
            </label>
          </div>
        <% end %>

      </div>
      <div class="col-md-3 klax-spacer-md">
        <h5>Slack</h5>
        <p>Which of the Slack channels that you’ve added should get notification when this item changes?</p>

        <% @slack_integrations.each do |slack| %>
          <div class="checkbox">
            <label>
              <%= check_box_tag "page[subscriptions][]", "slack:#{slack.id}", slack.is_subscribed_to?(@page) %>
              <%= slack.channel %>
            </label>
          </div>
        <% end %>
      </div>
      <div class="col-md-3 klax-spacer-md disabled">
<!--         <h5>Twitter</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p> -->
      </div>
      <div class="col-md-3 klax-spacer-md disabled">
<!--         <h5>RSS</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p> -->
      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= f.button :submit, label: 'Save', class: "btn btn-default btn-lg btn-block" %>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<% end %>
