<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Edit an Item</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Watching an item means that each time it changes, Klaxon will save a version of it, known as a “snapshot.”</p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>

<%= render 'form' %>

<% if @page.page_snapshots.count > 2 %>

  <div class="klax-section klax-spacer-lg">
    <div class="container">
      <div class="row klax-spacer-md">
        <div class="col-md-12">
          <h4>Activity</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 klax-spacer-md">
          <h2><%= @page.page_snapshots.count %></h2>
          <p class="lead">total times the item has changed since you started watching it, which was <%= @page.created_at.strftime("%A, %B %d, %Y at %H:%M") %>.</p>
        </div>
        <div class="col-md-3 klax-spacer-md">
          <h2>TK%</h2>
          <p class="lead">is the average amount of the item that changes.</p>
        </div>
        <div class="col-md-3 klax-spacer-md">
          <h2><%= distance_of_time_in_words(@page.calculate_median(@page.snapshot_time_deltas)) %></h2>
          <p class="lead">amount of time, roughly, between each change. We anticipate the next change will occur on <%= @page.predicted_snapshot.strftime("%A, %B %d, %Y at %H:%M") %>.</p>
        </div>
        <div class="col-md-3 klax-spacer-md">
          <h2><%= time_ago_in_words @page.page_snapshots.last.created_at %></h2>
          <p class="lead">since the last change was captured at <%= @page.page_snapshots.last.created_at.strftime("%A, %B %d, %Y at %H:%M") %></p>
        </div>
      </div>
    </div><!-- /.container -->
  </div>

<% end %>
