<%= render partial:'layouts/bookmarklet' %>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Watching</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Watching an item means that each time it changes, Klaxon will save a version of it, known as a “snapshot.” Below you’ll see all the items and can click to see the latest snapshot.</p>
      </div>
      <div class="col-md-3">
        <!-- negative space -->
      </div>
      <div class="col-md-3">
        <%= link_to 'Watch an Item', new_page_path, class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Created</th>
          <th>Name</th>
          <th>Site</th>
          <th>Selector</th>
          <th>Creator</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
        <tr>
          <td><%= page.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
          <td><%= page.name %></td>
          <td><%= page.domain.truncate(40) %></td>
          <td><code><%= page.css_selector %></code></td>
          <td><%= page&.user&.display_name %></td>

          <td>
            <% if page.page_snapshots.count > 1 %>
              <%= link_to "Latest Change", latest_change_page_path(page), class: "btn btn-default btn-block" %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_page_path(page), class: "btn btn-default btn-block" %></td>
          <td><%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-block" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
