<div class="container">

<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<%= link_to 'New Page', new_page_path, class: 'btn' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Selector</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.url %></td>
        <td><%= page.css_selector %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


