<%= stylesheet_link_tag "changes", media: "all" %>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Latest Captured HTML</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="lead">Below is a version of <b><%= @snapshot.page&.name || @snapshot.page&.url %></b> downloaded on <%= @snapshot.created_at.strftime("%A, %B %d, %Y at %l:%M %P %z off UTC") %>. </p>
        <p class="lead">It may take a moment for the captured page to load. The page may look odd because we're not capturing the CSS as well. Sorry.</p>
      </div>

      <div class="col-md-3">
        <!-- negative space -->
      </div>
      
      <div class="col-md-3">
       <%= link_to 'Past Snapshots', snapshots_page_path(@snapshot.page), class: 'btn btn-default btn-lg btn-block' %>
        <%= link_to 'Download HTML', download_page_snapshot_html_path(@snapshot), download:true, class: 'btn btn-default btn-lg btn-block' %>
        <%= link_to 'Go to Source', @snapshot.page.url, class: 'btn btn-default btn-lg btn-block' %>
        <%= link_to 'Edit Klaxon', edit_page_path(@snapshot.page), class: 'btn btn-default btn-lg btn-block' %>
      </div>

    </div>
  </div>
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container klax-spacer-md">
    <div class="row klax-spacer-md">
      <div class="col-md-12" style="border:solid;"><iframe style="height: 800px; width: 100%" src="<%= raw_page_snapshot_html_path(@snapshot) %>">

      </div> 
    </div>
  </div>

</div>
